html, body {
  margin:5px;
  padding:0px;
  font-family:verdana,arial,sans-serif;
  font-size:0.9em;
  color:#585858;
  line-height:1.2em;
  height:100%;
  text-align:justify;
}
table {
  font-family:verdana,arial,sans-serif;
  font-size:0.9em;
  color:#585858;
  text-align:justify;
}
#menu
{
  width: 100%;
  background-color:#295498;
}
#menu ul
{
  list-style-type:none;
  margin:0;
  padding:0;
  overflow:hidden;
}
#menu li
{
  float:left;
}
#menu a:link
{
  display:block;
  font-weight:bold;
  color:#FFFFFF;
  background-color:#295498;
  text-align:center;
  padding:8px;
  text-decoration:none;
  font-family:Arial;
  font-size:14px;
}
#menu a:visited
{
  display:block;
  font-weight:bold;
  color:#FFFFFF;
  background-color:#295498;
  text-align:center;
  padding:8px;
  text-decoration:none;
  font-family:Arial;
  font-size:14px;
}
#menu a:hover
{
  background-color:#04B4AE;
}
#menu a:active
{
  background-color:#04B4AE;
}
#wizard_steps table
{
  width: 80%;
  margin-left:10%; 
  margin-right:10%;
}
#omdesktop_features table
{
  width: 60%;
  margin-left:0%; 
  margin-right:40%;
}
#omdesktop_features td
{
vertical-align:top;
}
.bullet
{
font-size:22px;
}
